.blog-section .featured_image_blog img{
    object-fit: contain!important;
}
.venor-price-box.premium-pricing li{
    color: unset;
}
a.btn.btn-slider {

    font-size: 12px!important;
}
.slider-techsup-section{
    /*background-image: unset!important;*/
}

.img-e{

    width: 75%;
}


.navbar-active-link {
    opacity: 0.5;
}

.full-width{
    width: 100% !important;
}


h5.nmb-font-about{
    font-size: 32px!important;
}


.portfolio-section .col-md-6:nth-child(2n){
    margin-top: unset;
}


